<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><TMPL_VAR name> — ملخصات</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/rtl-arabic.css" />
  <meta name="generator" content="<TMPL_VAR generator>" />
  <meta name="description" content="ملخصات مختصرة لآخر تدوينات مجتمع بايثون." />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="rss20.xml" />
</head>

<body>
  <h1 id="logoheader">
    <a href="/" id="logolink" accesskey="1"><img id="logo" src="/images/python-logo.svg" alt="كوكب بايثون" /></a>
  </h1>

  <div id="content-body">
    <div id="body-main">

<h1 class="pageheading"><TMPL_VAR name> — ملخصات</h1>

<p>آخر تحديث: <TMPL_VAR date></p>

<TMPL_LOOP Items>

<TMPL_IF new_date>
<h2><TMPL_VAR new_date></h2>
</TMPL_IF>

<TMPL_IF new_channel>
<hr /><h3 class="post"><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>
</TMPL_IF>

<TMPL_IF title>
<h4><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
</TMPL_IF>
<p>
<TMPL_VAR summary>
</p>
<p>
<em><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF creator>بقلم <TMPL_VAR creator> — </TMPL_IF><TMPL_VAR date></a></em>
</p>
</TMPL_LOOP>

    </div>

    <aside id="left-hand-navigation">
    <div id="menu">
      <ul class="level-one">
          <li>
          <ul class="level-two">
             <li><a href="index.html">📰 المحتوى الكامل</a></li>
             <li><a href="titles_only.html">📃 العناوين فقط</a></li>
             <li><a href="rss20.xml">📡 خلاصة RSS</a></li>
             <li><a href="atom.xml">📡 خلاصة Atom</a></li>
          </ul></li>

          <li>المدونات المُشترَك بها
          <ul class="level-two">
<li><a href="opml.xml">📋 ملف OPML</a></li>
<TMPL_LOOP Channels>
<li><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a></li>
</TMPL_LOOP>
          </ul></li>
      </ul>
    </div>
    </aside>
  </div>
</body>
</html>
